*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey:#f6f2f2;
    --Electric-Blue:#59CBE8;
    --blue:#517EF5;
    --black:#080808;
    --gold:#E8BC4D;
   
}

body {
    background-color: var(--Electric-Blue);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
    
h1 {    
    font-size: 1.7rem;
    margin: 20px 0;
}   

.phone-background,.phone-footer {
    background-color: var(--black);
    height: 50px;
    width: 100%;
    
}

.phone-camera {
    background-color:var(--gold);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px auto;
    border: 1px solid var(--grey);
}

#user-input{
    width: 90%;
    display: block;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--blue);
    border-radius: 8px;
}

#results-div {
    overflow-y: auto;
    height: 450px;
    width: 100%;    
    
}


.phone-container {
    display: flex;
    flex-direction : column;
    text-align: center;
    align-items: center;
    border: 15px solid var(--black);
    border-radius: 15px;
    width: 300px;
    height: 550px;
    font-size: 17px;
    font-weight: bold;
    
}

.btn {
    background-color: var(--gold);
    padding: 5px;
    margin-top: 15px;
    border: 1px solid var(--grey);
    border-radius : 8px;
    width: 125px;
    font-weight: bold;
    font-size: medium;
}

